/* Typography*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
/* === Accent === */
/* === Neutral=== */
/* alerts  onLoading animations */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  border: 5px solid #339ecc;
  border-radius: 50%;
  border-top-color: #181f2a;
  animation: spinner 0.6s linear infinite;
}

html {
  font-size: 62.5%;
}

/*10px*/
body {
  display: grid;
  place-items: center;
  background: #181f2a;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: white;
}

p {
  font-size: 1rem;
  max-width: 64rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.3;
  text-transform: capitalize;
}

h1 {
  margin-top: 0;
  font-size: 4.272rem;
}

h2 {
  font-size: 3.418rem;
}

h3 {
  font-size: 2.734rem;
}

h4 {
  font-size: 2.188rem;
}

h5 {
  font-size: 1.75rem;
}

small,
.text-small {
  font-size: 0.8rem;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* buttons */
.btn {
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
  background: linear-gradient(#65e2d9, #339ecc);
  border: transparent;
  border-radius: 2rem;
  letter-spacing: 1px;
  padding: 1.2rem 2.4rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  transition: 0.3s ease-in-out all;
  text-transform: capitalize;
  display: inline-block;
  /*block class is good with forms*/
}
.btn:hover {
  background: #65e2d9;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.btn-hipster {
  background: #339ecc;
}
.btn-hipster:hover {
  background: #65e2d9;
}
.btn-block {
  width: 100%;
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: 0.4rem;
}

.alert-errors {
  background: #ff4242;
}

.alert-success {
  background: #65e2d9;
}

/* === forms === */
.form {
  width: 100%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.form .form-control {
  width: 100%;
  max-width: 480px;
  padding-bottom: 1rem;
}
.form .form-control input {
  width: 100%;
  font-size: 1.4rem;
  padding: 1.2rem 2.4rem;
  outline: none;
  border-radius: 2rem;
  border: none;
  background-color: #fff;
}
.form .form-control ::placeholder {
  font-family: inherit;
  color: #e6e6e6;
}
.form .form-control .form-alert {
  color: #ff4242;
  letter-spacing: 1px;
  text-transform: capitalize;
}
.form .form-control small {
  padding: 0 2rem;
  text-align: left;
  visibility: none;
}
.form .form-control small .error {
  visibility: visible;
}
.form .btn {
  width: 100%;
}

@media (min-width: 1440px) {
  .form {
    flex-direction: row;
  }
  .form .form-control {
    width: 480px;
  }
  .form .btn {
    width: 200px;
    align-self: start;
  }
}
/* titles */
.title {
  text-align: center;
}

.title-underline {
  background: #202a3c;
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: -1rem;
}

/* images */
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.nav {
  width: 90%;
  padding: 2.4rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav .logoContainer {
  width: 8rem;
  height: 2.4rem;
}
.nav .navBar {
  width: 16.7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav .navBar a {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
  padding: 0.2rem;
  color: white;
  position: relative;
  transition: 0.3s ease-in-out all;
  display: inline-block;
}
.nav .navBar a:before {
  content: "";
  width: 0;
  height: 0.2rem;
  position: absolute;
  bottom: 0;
  background-color: white;
  transition: 0.3s ease-in-out all;
}
.nav .navBar a:hover::before {
  width: 100%;
}

/* === hero section === */
.hero {
  width: 320px;
  display: grid;
  place-items: center;
  gap: 3.6rem;
  position: relative;
}
.hero__header {
  width: 304px;
  height: 255px;
  background: url(/images/illustration-intro.png) no-repeat center center/cover;
}
.hero__body {
  width: 100%;
  display: grid;
  place-items: center;
  gap: 3rem;
  z-index: 9;
}
.hero__body h1 {
  font-size: 2.4rem;
  line-height: 3.6rem;
  text-align: center;
  text-transform: initial;
}
.hero__body p {
  line-height: 2.1rem;
  text-align: center;
  padding: 0 1.2rem;
  z-index: 9;
}
.hero__body .btn {
  width: 240px;
}

@media (min-width: 1440px) {
  .hero {
    width: 734px;
  }
  .hero__header {
    width: 720px;
    height: 534px;
  }
  .hero__body {
    width: 100%;
    padding: 0 0.7rem;
    display: grid;
    place-items: center;
    gap: 3rem;
  }
  .hero__body h1 {
    font-size: 4rem;
    line-height: 6rem;
  }
  .hero__body p {
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    padding: 0 1.2rem;
    z-index: 9;
  }
  .hero__body .btn {
    width: 280px;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}

.card {
  width: 320px;
  height: 199px;
  display: grid;
  place-items: center;
  border: 1px solid purple;
}

/* === sections === */
.section {
  padding: 3rem 0;
  display: grid;
  place-items: center;
}
.section--services {
  width: 100%;
  background-color: #fff;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
}
.section--about {
  width: 100%;
  height: 499px;
  background-color: salmon;
}
.section--about .card {
  width: 320px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.section--about .card__header {
  width: 304px;
  height: 230px;
  border: 1px solid #fff;
}
.section--about .card__body {
  width: 100%;
  max-width: 600px;
  min-height: 270px;
  border: 1px solid darkcyan;
}
.section--testimonials {
  width: 100%;
  padding: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2.4rem;
  background-color: lightblue;
}
.section--testimonials .card {
  width: 280px;
  height: 160px;
  padding: 1rem;
}
.section--CTA {
  width: 336px;
  height: 353px;
  display: grid;
  place-items: center;
}
.section--CTA .card {
  width: 280px;
  height: 276px;
  padding: 2rem 0;
  display: grid;
  place-items: center;
  gap: 1rem;
}
.section--CTA .card__header {
  width: 100%;
  display: grid;
  place-items: center;
  gap: 1rem;
}
.section--CTA .card__body {
  width: 100%;
  display: grid;
  place-items: center;
}

@media (min-width: 1440px) {
  .section--services {
    max-width: 880px;
    height: 510px;
  }
  .section--about {
    max-width: 1280px;
    height: 465px;
  }
  .section--about .card {
    width: 85%;
    height: 100%;
    gap: 6rem;
    flex-direction: row;
  }
  .section--about .card__header {
    width: 615px;
    height: 100%;
  }
  .section--about .card__body {
    width: 560px;
    height: 285px;
  }
  .section--testimonials {
    max-width: 1180px;
  }
  .section--CTA {
    width: 863px;
    height: 275px;
  }
  .section--CTA .card {
    width: 709px;
    height: 211px;
  }
}
.header {
  width: 100%;
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
  padding: 6rem 0;
  display: grid;
  place-items: center;
  gap: 2rem;
  position: relative;
}

.footer {
  width: 100%;
  padding: 3rem 0;
  display: grid;
  place-items: center;
  gap: 1rem;
  background-color: #0b1523;
}
.footer .cards__wrapper {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 2rem;
}
.footer .cards__wrapper .card {
  width: max-content;
  height: auto;
}
.footer .cards__wrapper .card--column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .cards__wrapper .card--row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1440px) {
  .footer {
    height: 441px;
  }
  .footer .cards__wrapper {
    width: 1240px;
    height: 220px;
    flex-direction: row;
  }
}
*,
::after,
::before {
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  max-width: 1440px;
  position: relative;
  display: grid;
  place-items: center;
}
.container::after {
  content: "";
  width: 100%;
  height: 292px;
  position: absolute;
  top: 400px;
  left: 0;
  background: url(/images/bg-curvy-mobile.svg) no-repeat top center/contain;
}

@media (min-width: 1440px) {
  .container::after {
    top: 0;
    height: auto;
    background: url(/images/bg-curvy-desktop.svg) no-repeat top center/cover;
  }
}

/*# sourceMappingURL=styles.css.map */
