@use '../abstracts' as *;
@use '../components' as *;

.footer {
  width: 100%;
  padding: 3rem 0;
  @include grid(center);
  gap: 1rem;
  background-color: $footerBackground;

  .cards__wrapper{
    width: 85%;
    @include flex(column, space-between, start);
    gap:2rem;

    .card{
      width: 100%;
      height: auto;

      &--column{
        width: 100%;
        @include flex(column,center,start);
        gap: 1.6rem;

        &__header{
          width: 120px;

        }

        &__body{
          width: 100%;
          @include flex(row,space-between,center);
          gap: 1.6rem;

          span{
            width: 2.4rem;
            height: 2.4rem;
            align-self: start;
          }

          p{
            font-size: 1.6rem;
            line-height: 2.4rem;
            width: 75%;
            margin: 0;
            text-align: left;

          }

        }
      }

      &--row{
        @include flex(row, center, center)
      }
    }
  }
}

@media (min-width:$largeScreens){
  .footer{
    height: 441px;

    .cards__wrapper{
      width: 1240px;
      height: 220px;
      flex-direction: row;

      .card{
        &--column {
          width: 380px;
          &__header{

          }
          &__body{
            span{}
            p{
              width: 339px;

            }

          }
        }
      }


    }
  }
}