@use '../abstracts' as *;
@use '../components' as *;

.main{
  width: 100%;
  padding: 18rem 0;
  @include grid(center);
  gap:16rem;
  position: relative;
  background-color: $introEmailSignupBackground;


}
