@use '../abstracts' as *;
@use '../components' as *;

.main{
  width: 100%;
  padding-top: 10rem;
  padding-bottom: 18rem ;
  @include grid(center);
  gap:16rem;
  position: relative;
  background-color: $mainBackground;

  &::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: -310px;
    background-color:$mainBackground;
    z-index: -1;
  }

}


@media (min-width:$tablets){
  .main{
    &::before{
      top: -150px;
    }
  }
}
@media (min-width:$largeScreens){
  .main{
    &::before{
      top: 0px;
    }
  }
}
