@use '../abstracts'as *;
/* buttons */
.btn {
  cursor: pointer;
  width: 75%;
  font-family: $headingFont;
  font-size: 1rem;
  font-weight: bold;
  color: $textColor;
  background: linear-gradient($insideCTA-1, $insideCTA-2);
  border: transparent;
  border-radius: $borderRadius-2;
  letter-spacing: $letterSpacing;
  padding: 1.5rem 2.5rem;
  box-shadow: $shadow-1;
  transition: $transition;
  text-transform: capitalize;
  display: inline-block;

  &:hover {
    background: $insideCTA-1;
    box-shadow: $shadow-3;
  }
  &-hipster {
    background: $insideCTA-2;
    &:hover {
      background: $insideCTA-1;
    }
  }
  &-block {
    width: 100%;
  } /*block class is good with forms*/
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: $borderRadius-1;
}

.alert-errors {
  background: $errorColor;
}
.alert-success {
  background: $insideCTA-1;
}
