/* === forms === */
@use '../abstracts' as *;
@use'./buttons' as * ;

.form {
  width: 100%;
  box-shadow: $shadow-2;
  @include flex(column, space-between, center);


  .form-control{
    width: 100%;
    max-width: 480px;
    padding-bottom:1rem;

    input{
      width: 100%;
      font-size: 1.4rem;
      padding: 1.2rem 2.4rem;
      outline: none;
      border-radius: $borderRadius-2;
      border:none;
      background-color: #fff;
    }

    ::placeholder {
      font-family: inherit;
      color: darken($textColor,10);
    }
    .form-alert {
      color: $errorColor;
      letter-spacing: $letterSpacing;
      text-transform: capitalize;
    }

    small{
      padding: 0 2rem;
      text-align: left;
      visibility: none;

      .error{
        visibility: visible
      }
    }

  }

  .btn{
    width: 100%;
  }
}
@media (min-width:$largeScreens){
  .form{
    flex-direction: row;

    .form-control{
      width: 480px;

    }
    .btn{
      width: 200px;
      align-self:start ;
    }
  }
}
