/* === forms === */
@use '../abstracts' as *;
@use'./buttons' as * ;

.form {
  width: 100%;
  box-shadow: $shadow-2;
  @include flex(column, space-between, center);


  .form-control{
    width: 100%;
    max-width: 480px;
    padding-bottom:1rem;

    input{
      width: 100%;
      font-size: 1.0rem;
      line-height: 1.4rem;
      padding: 1.2rem 2.4rem;
      outline: none;
      border-radius: $borderRadius-2;
      border:none;
      color:$inputColor;
      background-color:$textColor;
    }

    ::placeholder {
      font-family: inherit;
      color: $placeholderColor;
    }
    .form-alert {
      font-size: 1rem;
      font-weight: $bold;
      line-height: 1.4rem;
      color: $errorColor;
      padding: 0 2rem;
      text-align: left;
      visibility: hidden;
      letter-spacing: $letterSpacing;
      text-transform: capitalize;

      &.error{
        visibility: visible
      }

    }



  }

}
@media (min-width:$largeScreens){
  .form{
    flex-direction: row;

    .form-control{
      width: 480px;

      input{
        font-size: 1.2rem;
        line-height:1.6rem;
        padding:1.6rem 3.0rem;
        border-radius: $borderRadius-4;
      }



    }
    .btn{
      padding: 1.6rem 2.3rem;
      border-radius: $borderRadius-4;
      align-self:start ;
    }
  }
}
