/* === hero section === */
@use '../abstracts' as *;

.hero {
  width: 320px;
  @include grid(center);
  gap: 3.6rem;
  position: relative;


  &__header {
    width: 304px;
    height: 255px;
    background: url(/images/illustration-intro.png) no-repeat center
      center/cover;
  }
  &__body {
    width: 100%;
    @include grid(center);
    gap: 3rem;
    z-index: 9;





    h1 {
      font-size: 2.4rem;
      line-height: 3.6rem;
      text-align: center;
      text-transform: initial;

    }

    p {
      line-height: 2.1rem;
      text-align: center;
      padding: 0 1.2rem;
      z-index: 9;
    }

    .btn{
      width: 240px;
    }


  }
}
@media (min-width:$largeScreens){
  .hero{
      width:734px;

    &__header {
      width: 720px;
      height: 534px;
    }

    &__body {
      width: 100%;
      padding: 0 0.7rem;
      @include grid(center);
      gap: 3rem;



      h1 {
        font-size: 4rem;
        line-height:6rem;
      }

      p {
        font-size: 2rem;
        line-height: 3rem;
        text-align: center;
        padding: 0 1.2rem;
        z-index: 9;
      }

      .btn{
        width: 280px;
      }


    }


  }


}
