@use '../abstracts' as *;


/* images */
.imgContainer {
  width: 40vw;
  max-width:$maxWidth;
  border: 5px solid $textColor;
  border-radius:$borderRadius-1;

  .img{
    width: 100%;
    display: block;
    object-fit: cover;
  }
}