@use '../abstracts' as *;
@use './typo' as *;
@use '../layout/'as *;
@use '../components' as *;

*,
::after,
::before {
  box-sizing: border-box;
}
.container {
  width: 100%;
  min-height: 100vh;
  max-width: $maxWidth;
  position: relative;
  @include grid(center);

  &::after{
    content:'';
    width: 100%;
    height: 292px;
    position:absolute;
    top:400px;
    left: 0;
    background:url(/images/bg-curvy-mobile.svg) no-repeat top center/contain;
  }

}

@media (min-width:$largeScreens){
  .container{

    &::after{
      top: 0;
      height: auto;
      background:url(/images/bg-curvy-desktop.svg) no-repeat top center/cover;

    }
  }
}