

  $darkBlue-300 : hsl(216, 53%, 9%);
  $darkBlue-400 : hsl(217, 28%, 15%);
  $darkBlue-500 : hsl(218, 28%, 13%);
  $darkBlue-600 : hsl(219, 30%, 18%);

/* === Accent === */

$cyan-500 : hsl(176, 68%, 64%);
$blue-500 : hsl(198, 60%, 50%);
$lightRed-500 : hsl(0, 100%, 63%);

/* === Neutral=== */

$white-500 : hsl(0, 0%, 100%);
